
@font-face {
  font-family: "Kormelink-Regular";
  src: url("./assets/WT_Kormelink_Roman_DESK_1.1.otf");
}

@font-face {
  font-family: "Kormelink-Italic";
  src: url("./assets/WT_Kormelink_Italic_1.1.otf");
}

body {
  /* margin: 20px; */
  text-align: center;
  font-size: 80px;
  line-height: 1.1;
  font-family: "Kormelink-Regular", Georgia, sans-serif;
  font-variant-ligatures: discretionary-ligatures;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#logo {
  /* background-color: rgb(75, 47, 186); */
  background:black url(./assets/larpa_flag_3.png) no-repeat center;
   background-size: contain;

  /* padding: 1em; */
}

h1 {
  font-size: 3em;
  color: rgb(246, 207, 8);
}

#about {
  min-height: 100vh;
  height: auto;
  padding: 2em;
}

.links {
  background-color: rgb(75, 47, 186);
  padding: 2em;
    /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}

img {
  display: inline-block;
  width: 100%;
  height: 100vh;
}
#scroll {
  width: 100px;
}
.links a {

  font-size: 1em;
  color: rgb(246, 207, 8);
  text-decoration: none;
}

.larpa {
  color: rgb(98, 185, 232) !important;
  font-family: "Kormelink-Italic" ;

}

#studio{
  background: black url(./assets/studio-2.png) no-repeat center;
  background-size: contain;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 980px) {
  body {
    font-size: 35px;
    overflow-x: hidden;
  }
  section, #logo {
    padding: 0.5em;
  }
  .links {
    font-size: 0.8em;
  }
}
